.about-section {
    display: block;
    margin: 0 auto;
    text-align: justify;
    font-family: "Marvel", serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
}

.about-section p {
    font-size: 30px;

}

.purpose-h1 {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) { 
    .about-section {
        padding: 20px;
        margin: 30px 0 0 0;
    }
    .about-section h1 {
        font-size: 22px;
    }
    .about-section p {
        font-size: 18px;
    }
}