* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #222643; */
    background-color: #222643;
    color: white;
    overflow:visible;
}

.container  {
    max-width: 1200px;
    margin: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}



.navbar .logo img {
    background-color: #bb1c20;
    padding: 5px;
    width: 225px;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin-right: 30px;
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: "Afacad Flux", sans-serif;

}

.left-side-landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 100px auto 0 auto;
}

.right-side-landing {
    height: 100%;
}

.marvel-studios-logo {
    margin: auto auto 25px auto;
    width: 90px;
    background-color: white;
}

.spiderman-header-logo {
    margin: auto auto 25px auto;
    width: 500px;
}

.no-way-home-white2 {
    margin: auto auto 25px auto;
    width: 300px;
}

.header-description {
    max-width: 500px;
    font-size: 18px;
    text-align: justify;
    margin: auto auto 30px auto;
}

.search-description {
    text-align: left;
    display: flex;
    height: 50px;
    align-items: center;
}

.search-item {
    margin-right: 40px;
}

.search-item i {
    border: 1px solid white;
    padding: 9px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
}

.search-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.info {
    border: 1px solid white;
    padding: 9px 18px;
    border-radius: 20px;
}

.spidey-hoodie {
    width: 95vh;
}

@media only screen and (max-width: 600px) {
    .body {
        background-image: none;

    }
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .spidey-hoodie {
        display: none;
    }
    .marvel-studios-logo {
        width: 100px;
    }
    .spiderman-header-logo {
        max-width: 300px;;
    }
    .no-way-home-white2 {
        width: 200px;
    }
    .left-side-landing {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 100px auto 0 auto;
        max-width: 300px;
    }
    .nav-item {
        margin-right: 10px;
        margin-left: 10px;
        justify-content: space-around;
    }
}
/* .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.afacad-flux-<uniquifier> {
font-family: "Afacad Flux", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
    "slnt" 0;
} */

/* .marvel-regular {
font-family: "Marvel", sans-serif;
font-weight: 400;
font-style: normal;
}

.marvel-bold {
font-family: "Marvel", sans-serif;
font-weight: 700;
font-style: normal;
}

.marvel-regular-italic {
font-family: "Marvel", sans-serif;
font-weight: 400;
font-style: italic;
}

.marvel-bold-italic {
font-family: "Marvel", sans-serif;
font-weight: 700;
font-style: italic;
} */
  

